body{
	font-family:'helvetica','arial',sans-serif;
	background:#dad8db;
}
#header {
	background:#232323;
	width:100%;
	border-bottom:4px solid #51506F;
	height:70px;
}
#note{
	width:100%;
	padding:10px 0px;
	text-align:center;
	border-bottom:2px solid #202B30;
	background: #4E7178;	
	color: #F1F7E2;
	text-transform:capitalize;
}
#header .logo{
	float:left;
	width:196px;
}
#top_menu{
	float:left;
	margin-left:50px;
}
div.login{
	width:181px;
	display:inline-block;
	float:left;
}
div.login img{
	display:block;
	float:left;
	margin:6px 3px;
	border:1px solid #232323;
}
div.login img:hover {
	border:1px solid lightgray;
}
a.mitem{
	background:#232323;
	border-right:1px solid gray;
	border-bottom:4px solid #51506F;
	border-top:none;
	padding:20px 10px 0px 10px;
	height:50px;
	display:inline-block;
}
a.mitem:link, a.mitem:visited {
	color:white;
}
a.mitem:hover {
	border-bottom:4px solid gray;
	border-right:1px solid #232323;
	background:#51506F;
}

#container{
	width:100%;
	margin:15px 0px;	
}

div.menu{
	padding:2px 2px;
	border:1px solid #51506F;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:100%;
	background:white;
	position:relative;
	height:45px;
	margin-bottom:5px;	
	color:#778899;	
}
div.menu a{
	border-right:1px solid gray;
	padding:15px 12px;
	float:left;
	font-size:15px;
}

div.menu a:first-child {
	margin-left:25px;
}
div.menu a:hover, div.menu a.current:link {
	background:#778899;
	color:white;
}
div.multiple.posts{
	padding:2px 2px;
	border:1px solid #51506F;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:100%;
	background:white;
	min-height:500px;
	position:relative;
}
.multiple div.post{
	border-bottom:1px solid #51506F;
	padding:5px 2px;
}
.multiple div.content img{
	max-width:500px;
}
.multiple div.content {
	min-height:380px;
}
.multiple div.content{
	width:auto;
	margin:15px 0px 15px 10px;	
}
.multiple div.info{
	width:200px;
	margin-top:15px;
}
.info h2 {
	font-size:20px;
	text-transform:capitalize;
	color:#232323;
	margin-bottom:4px;
}
.info .buttons{
	margin:10px 0px;
}
.info h3{
	color:#23336F;
	font-size:15px;
}
.info h4{
	display:inline-block;
	width:55px;
	font-size:14px;
	margin-top:5px;
	margin-bottom:4px;
}
.info h5{
	color:#6F6F6F;
	font-size:12px;
}
.report {
	margin-top:10px;
}
.report span{
	color:red;
	cursor:pointer;
	font-size:12px;
	margin-bottom:10px;
}
.report img{
	visibility:hidden;
	cursor:pointer;
	height:0px;
}
.report:hover img{	
	visibility:visible;
	height:80px;
	display:block;
}
.source {
	display:block;
	margin:4px;
	font-size:12px;
}
/*Meme*/
.memeinfo{
	text-indent:3em;
	margin:10px;
	font-size:12px;
}
.memeinfo p{
	margin-bottom:1em;
}
.meme.single h2{
	font-size:18px;
	text-transform:capitalize;
	color:#232323;
	margin:15px 20px 0px;
}
.meme.single img.img{
	margin:10px auto;
	display:block;
	border:1px solid #A3A3AF;
	max-width:650px;
}
.meme.single .description{
	margin:10px auto 20px;
	width:680px;
}
.meme.single b{
	font-weight:bold;
	font-size:14px;
	display:inline-block;
	margin:1em 2px 1em;
}
.img_footer{
	height:16px;
	width:100%;
	position:absolute;
	bottom:0px;
	background:white;
	z-index:3;
}
.thumbnails .meme{
	border:1px solid #C2C2C2;
	padding:3px;
	float:left;
	margin:10px 15px;
	width:200px;
	height:220px;
	border-radius:3px;
}
.thumbnails .meme h2 {
	font-size:13px;
	text-transform:capitalize;
	color:#232323;
}
.thumbnails .meme img.img{
	max-width:180px;
	margin:0px auto;
	max-height:180px;
	
}
#pag_buttons{
	text-align:center;
	margin:20px;
}
.webmaster{
	text-align:center;
	margin:10px;
}
div.form{
	margin:20px 20px 20px 40px;
}
td.right{
	padding:4px;
	padding-left:10px;
}
div.form tr:hover {
	background:#eee;
}
div.form td{
	vertical-align:top;
}
div.form textarea{
	height:60px;
	width:300px;	
}
div.form label{
/*	max-width:100px; */
}
.errorloc {
	font-size:12px;
	color:red;
}
#right{
	display:none;
}
#right .usrimg{
	display:none;
}
#right .username{
	display:none;
}
#ad_right{
	display:none;
}
#ad_right img{
	display:none;
}
.stalk{
	display:none;
}
.stalk .avatar{
	display:none;
}
.instructions{
	font-size:12px;
	padding:5px;
	border:1px solid #eee;
}
.instructions li{
	display:block;
	margin-bottom:5px;
}
table.form label{
	padding:3px 2px;
	display:inline-block;
	max-width:400px;	
	margin:3px 0px;
	color:#51514f;
}
h2.title{
	font-size:18px;
	margin:4px 0px;
	color:#3E4985;
}
table.form td{
	margin-bottom:5px;
}
#comments{
	background:#F3F3F3;
	border-radius:15px;
}
#comments img{
	width:45px;
	float:left;
	border:1px solid #232323;
	margin:2px 4px;
}
#comments .username{   
	color:blue;
	font-size:12px;
}
#comments .date{
	font-size:10px;
	color:darkgray;
}
.comment, .ccomment{

}
#comments p{
	font-size:14px; 
	display:block;
	padding:5px;
	margin-left:60px;
	min-height:30px;
}
#comments .comment{
	border-bottom:2px solid #51506F;
	padding:10px 2px 5px 2px;
	margin:0px 10px;
}
#comments .child{
	margin-left:30px;
}
#comments .ccomment{
	margin-top:5px;
}
.rules{
	width:650;
	margin-left:60px;
	margin-top:10px;
}
.rules li{
	display:block;
	margin:7px 0px;
	width:550px;
	font-size:14px;
	line-height:1.3em;
}
.rules h2{
	color:red;
	display:inline-block;
	font-size:21px;
	margin-top:10px;
}
.rules h3{
	color:gray;
	display:inline-block;
	margin-bottom:15px;
}
.nsfw{
	font-size:11px;
	border-radius:2px;
	border:1px solid #E745AE;
	color:white;
	background:#E745AE;
}
.text_content{
	padding:4px; 
	background:white;
	color:black;
}
.edit a:link {
	font-size:12px;
	margin:5px;
	padding:2px 0px;
	border-radius:2px;
	display:block;
	width:90px;
	text-align:center;
}

