</div>
<div class='row'>
	<div class='span12'>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-8534578105995627";
		/* Footer */
		google_ad_slot = "9695983211";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>	
	</div>
</div>
<div class='row'>
	<div class='span2 offset4' title='contacto@dvidsilva.com'>&copy;<a href="https://plus.google.com/105299600233721005409?rel=author" target='_blank'>+dvid silva</a></div>
</div>

<!--LOOP_START-->
<!--LOOP_END-->
<script type='text/javascript' src='./js/jquery.js' ></script>
<script type='text/javascript' src='./js/bootstrap.min.js' ></script>
<script type='text/javascript' src='./ajax/like.js' ></script>
<script type='text/javascript' src='./ajax/comment.js' ></script>
<script type='text/javascript' src='./ajax/report.js' ></script>		
<script type='text/javascript' src='http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js' ></script>		
<script src='http://www.google.com/jsapi' type='text/javascript'></script>
<script type='text/javascript'> 
  google.load('search', '1', {language : 'es', style : google.loader.themes.V2_DEFAULT});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};
    var imageSearchOptions = {};
    imageSearchOptions['layout'] = google.search.ImageSearch.LAYOUT_POPUP;
    customSearchOptions['enableImageSearch'] = true;
    customSearchOptions['imageSearchOptions'] = imageSearchOptions;  var customSearchControl = new google.search.CustomSearchControl(
      '004614009290292921240:1lsrcpafy6a', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.setAutoComplete(true);
    customSearchControl.setAutoCompletionId('004614009290292921240:1lsrcpafy6a+qptype:1');
    options.enableSearchboxOnly('http://memegusta.com.co/m/?f=search&a=search');
    customSearchControl.draw('cse-search-form', options);
  }, true);
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=116501831776133";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
(function() {
    window.PinIt = window.PinIt || { loaded:false };
    if (window.PinIt.loaded) return;
    window.PinIt.loaded = true;
    function async_load(){
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        if (window.location.protocol == "https:")
            s.src = "https://assets.pinterest.com/js/pinit.js";
        else
            s.src = "http://assets.pinterest.com/js/pinit.js";
        var x = document.getElementsByTagName("script")[0];
        x.parentNode.insertBefore(s, x);
    }
    if (window.attachEvent)
        window.attachEvent("onload", async_load);
    else
        window.addEventListener("load", async_load, false);
})();
</script>
</body>
</html>
