<!DOCTYPE html >
<!--LOOP_START-->
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='css/reset.css' />
		<link rel='stylesheet' type='text/css' href='css/bootstrap.min.css' />
		%css#
		<link rel="publisher" href="https://plus.google.com/117803377859580643878" />		
	<title>MemeGusta.com.co | %title#</title>
		<meta name='description' content='Diviertete, critica, comparte o mata tiempo con el mejor contenido subido a diario por nuestros usuarios.' />
		<meta name='keywords' content='rage comics, memes, diversion, procrastinar, humor, politica, perder tiempo, yao ming,
		forever alone, fuuuuuuuu, dicaprio, troll, trolling, troll dad, fuckencio, cyanide and happiness, youtube, filosofiraptor,
		Y U, mk a ver, gatos, ternura, chuck norris, bogota, colombia, alvaro uribe, trolldriguez,colombianadas,memes en español' />
		<meta name='author' content='https://plus.google.com/b/117803377859580643878/' />
		<meta name='webmaster' content='contacto@dvidsilva.com | dvisilva &copy;2011 Colombia' />
		<meta property='og:title' content='%title#' />
		<meta property='og:type' content='blog' />
		<meta property='og:image' content='http://memegusta.com.co/m/uploads/posts/%img_url#' />
		<meta property="fb:admins" content="517473391" />		
		<meta property="og:site_name" content="MemeGusta.com.co" />
		<meta property="fb:app_id" content="261827547199727"/>	
<!-- Place this tag in the <head> of your document-->
<link href="https://plus.google.com/117803377859580643878" rel="publisher" />
<script type="text/javascript">
window.___gcfg = {lang: 'es'};
(function() 
{var po = document.createElement("script");
po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(po, s);
})();

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27055126-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>	
<body>
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
	FB.init({
appId      : '261827547199727', // App ID
channelUrl : '//www.memegusta.com.co', // Channel File
status     : true, // check login status
cookie     : true, // enable cookies to allow the server to access the session
xfbml      : true  // parse XFBML
});
FB.Event.subscribe('edge.create', function(targetUrl) {
		_gaq.push(['_trackSocial', 'facebook', 'like']);
		});
FB.Event.subscribe('edge.remove', function(targetUrl) {
		_gaq.push(['_trackSocial', 'facebook', 'unlike']);
		});
FB.Event.subscribe('message.send', function(targetUrl) {
		_gaq.push(['_trackSocial', 'facebook', 'send']);
		});
FB.Event.subscribe('comment.create', function(targetUrl) {
		_gaq.push(['_trackSocial', 'facebook', 'commented']);
		});
};

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=116501831776133";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


</script>
<div class=' header navbar' >
	<div class='navbar-inner navbar-fixed-top'>
		<div class='container' >
			<ul class='nav'>
				<li><a href='./' class='brand'><img src='./media/logo.png'class='logo' /></a></li>
				%menu#
				%login#
			</ul>
		</div>
	</div>
</div>
<div class='navbar-space'> </div>
%note#
	<!--LOOP_END-->
