<!--LOOP_START-->
	<div class='span8' >
		<div class='page-header'>
			<h2>Debes iniciar sesi&oacute;n para poder publicar.</h2>
		</div>
		<div class='span4'><a href='?f=usr&a=signup' class='btn btn-warning' >Registrarte</a></div>
		<div class='span4'><a href='?f=usr&a=login' class='btn btn-primary' >Iniciar Sesi&oacute;n</a></div>
		<div class='span12 space' >	    
			<a href='./login/?login&oauth_provider=facebook'><img src='./media/memegusta.facebook.png' style='display:block;' /></a>
		</div>
	</div>
<!--LOOP_END-->
