<div class='row-fluid'>
<div  class='span4 shadow' >
	
<div class='span12' id='cse-search-form' style='width: 280px; margin:5px;' >Loading...</div>
	<!--LOOP_START-->
	<input type='hidden' id='img_url' value='%img_url#' />
	<input type='hidden' id='usr_id' value='%usr_id#' />
	<input type='hidden' id='username' value='%username#' />
	<div class='span12 space'>
		<div class='span6'>
			<a href='?f=usr&a=stalk&id=%usr_id#' title='ver/editar mi perfil'><img src='./uploads/profile/%img_url#' class=' usrimg' /></a>
		</div>
		<div class='span6'>
			<a href='?f=usr&a=stalk&id=%usr_id#' title='ver/editar mi perfil' class='btn btn-info'>%username#</a>
			%edit#
		</div>
	</div>
<div class='space' id="fb-root"></div>
<div class="fb-like" data-href="http://www.facebook.com/pages/MemeGusta/178059668952006" data-send="false" data-width="300" data-show-faces="true"></div>

<div class='span12 space'>
	<a href='?f=posts&a=add' >
	<img src='./media/allthecontent.png' />
	</a>
</div>


<div id='ad_right span10 shadow space'>
		%ad#
<!--LOOP_END-->			

</div>

<div class="space g-plus" data-href="https://plus.google.com/117803377859580643878" data-size="badge"></div>		

</div>
