<div class='span8 shadow' >
	<div class='page-header'>
		<h2>Inicia Sesi&oacute;n</h2>
	</div>
	<div class='span10'>
		<form name='login' method=post action='' class='well'>
		<!--LOOP_START-->
		<!--LOOP_END-->
		<label>Usuario:</label>
		<input type='text' name='username' />
		<label>Contrase&ntilde;a:</label>
		<input type='password' name='password' />
		<label></label>
		<input name='send' value='Iniciar Sesi&oacute;n' type='submit' class='btn btn-primary' />
		</form>
	</div>
	<div class='span12' style='width:181px; height:70px; margin:3px auto;' >	    
		<a href='./login/?login&oauth_provider=facebook'><img src='./media/memegusta.facebook.png'/></a>
	</div>

