<!--LOOP_START-->
<div class='span8 shadow profile ' >
	<div class='cover'><img src='./uploads/profile/cover/%cover#' class='avatar'/></div>
	<div class='page-header'>
		<img src='./uploads/profile/%img_url#' class='avatar'/>
		<h2>%username# <small >%phrase#</small></h2>	
	</div>
	<div class='span12 '>
		<h4 class='span4'><i class='icon-thumbs-up'></i>%post_count#</h4>
		<h4 class='span4'><i class='icon-comment'></i>%comment_count#</h4>
		<h5 class='span4'>%country#</h5>
		<h5 class='span4' >%birthdate#</h5>		
		<h5 class='span4'>%follower_count#</h5>				
	</div>
</div>
<div class='space'>&nbsp;</div>
<!--LOOP_END-->
