<div class='span8 shadow' >
	<div class='page-header'>
		<h2>Que son los memes</h2>
		<p>Meme de internet, se usa para describir un concepto que se esparce rapidamente via el  Internet.</p>
		<p>El origen mas antiguo del uso de esta palabra, se encuentra en el libro El gen egoista de Richard Dawkins publicado en 1976.</p>
		<p>En si, meme es una idea, comportamiento o estilo que se esparce de persona a persona en una cultura. Es la unidad que lleva las ideas, simbolos o practicas que pueden ser transmitidas de forma escrita, gestos, rituales o otros fenomenos imitables. Son como los genes de la cultura.</p>
		Meme es una abreviaci&oacute;n de mimeme del  griego antiguo, algo imitado.</p>
		<p>Pueden evolucionar por selecci&oacute;n natural como en la evoluci&oacute;n biologica, a trav&eacute;s de procesos de variaci&oacute;n, mutaci&oacute;n, competencia y herencia. El campo de estudio memeticas, crecio en los noventa, para explorar los conceptos de transmision en terminos de un modelo evolutivo; donde algunos incluso comentan que se puede categorizar una cultura en terminos de unidades discretas.</p>
	</div>
<ul class='thumbnails meme'>
<!--LOOP_START-->
<a name='%id#'></a>
	<li class='span5 '><div class='thumbnail shadow'>
		<a href='?f=meme&a=show_post&id=%id#'>
			<h2>%title#</h2>
			<h4><img src='./media/comment_count.png' alt='Comentarios' title='Comentarios'/><span class='comment_count'>%comment_count#</span></h4>
			<img src="./uploads/meme/%thumb_url#" alt='%title#' title='%title#' class='img'/>
		</a>
	</div></li>
<!--LOOP_END-->
</ul>


