<div class='span8 shadow' >
<!--LOOP_START-->
	<div class='page-header'>
		<h2>%title#</h2>	
	</div>
	<div class="fb-like" data-href="http://memegusta.com.co/m/?f=posts&amp;a=show_post&amp;id=%id#&amp;utm_source=facebook&amp;utm_medium=like&amp;utm_campaign=1" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false"></div>
	<div style='position:relative'>
		<img src="./uploads/meme/%img_url#" alt='%title#' title='%title#' class='img'/>
		<div clas='img_footer' style='	height:16px; width:100%;position:absolute;bottom:0px;background:white;z-index:3;' >&nbsp;</div>
	</div>
	<div class='description '>
		%description#
	</div>
	<div id='tags'>%tags#</div>
	<div class='space'></div>
	<div class='span12'><div class="fb-comments" data-href="http://memegusta.com.co/m/?f=memes&amp;a=show_post&amp;id=%id#" data-num-posts="10" data-width="470"></div></div>
<!--LOOP_END-->

