<div class='span8 shadow' >
<div id=mobile_ad >
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8534578105995627";
/* Mobile */
google_ad_slot = "3575151696";
google_ad_width = 320;
google_ad_height = 50;
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> </script>
</div>

<!--LOOP_START-->
<a name='%id#'></a>
<div class='span12 post multiple ' >
	<div class='row-fluid'>
		<div class='span8' >
			<div class='page-header'>
				<h2><a href='?f=posts&a=show_post&id=%id#'>%title#</a></h2>
			</div>
			<div class='span12 space content'>
				<a href='?f=posts&a=show_post&id=%id#'>%content#</a>
			</div>
		</div>
		<div class='span4'>
			<div class='span12 space'><a href='?f=usr&a=stalk&id=%usr_id#&u=%username#' class='btn btn-info'><i class='icon-white icon-user'></i> %username#</a></div>
			<i class=' icon-thumbs-up'></i><span  id='lc%id#'> %like_count#</span>	
			<a href='?f=posts&a=show_post&id=%id#'><i class='icon-comment'></i> Comentar</a>
			<h5>%date_published#</h5>
			<div class="btn-group space">
				<a alt='No Me Gusta' title='No Me Gusta' class='btn  %d#' id='dislike%id#' href='#%id#'  onclick='like("%id#","N","%cuser#",this.id)' ><img src='./media/dislike.png' />
				</a><a alt='Me Gusta' title='Me Gusta' class='btn  %d#'  id='like%id#' href='#%id#' onclick='like("%id#","Y","%cuser#",this.id)' ><img src='./media/like.png' /></a>
			</div>
			<div id='warning%id#'></div>
			<span class='source'>%source#</span>	
			<div class="fb-like" data-href="http://memegusta.com.co/m/?f=posts&amp;a=show_post&amp;id=%id#&amp;utm_source=facebook&amp;utm_medium=like&amp;utm_campaign=1" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false"></div>
			<div class='pinterest span12' style='margin:5px 10px;'>
				<a href="http://pinterest.com/pin/create/button/?url=www.memegusta.com.co&media=http%3A%2F%2Fmemegusta.com.co%2Fm%2Fuploads%2Fposts%2F%img_url#&description=MemeGusta.com.co%20Solo%20diversi%C3%B3n" class="pin-it-button" count-layout="horizontal">Pin It</a>
			</div>
			<div class='report '>			
				<a href='#%id#' class='btn btn-mini btn-danger'onclick='report("%id#","%cuser#")' ><i class='icon-fire icon-white'></i> Reportar<span class='report_count' id='report_count%id#' >(%report_count#)</span></a>
				<img src='./media/gtfo.png' /></a>
			</div>
		</div>



	</div>
</div>
<!--LOOP_END-->
<div id=mobile_ad >
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8534578105995627";
/* Mobile */
google_ad_slot = "3575151696";
google_ad_width = 320;
google_ad_height = 50;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

